h1{
	text-align:center;
	background-color:#ffffff;
	color:black;
	border:2pt solid #ffffff;
}

h2{
	text-align:center;
	color:#ffffff;
}

h4{
	text-align:center;
	background-color:#ffffff;
	color:black;
	border:2pt solid #ffffff;
}

body{
	background-color: black
}